.main {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    gap: 15px;

}

.form {
    position: relative
}

.dictionary_input-div {
    display: flex;
    flex-direction: column;
}

/* .input {
    background: #fff;
    padding: 10px;
    border-radius: 11px;
    width: 200px;
} */

.label {
    position: absolute;
    top: -20px;
    background: #fff;
}

.error {
    display: none;
    color: red;
}