.main {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;

}

.form {
    position: relative
}


/* .input {
    background: #fff;
    padding: 10px;
    border-radius: 11px;
    width: 200px;
} */

.label {
    position: absolute;
    top: -20px;
    background: #fff;
}

.error {
    display: none;
    color: red;
}